<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>

  <h1>Tiny App</h1>

  <% if(username) { %>
  <p>Logged in as: </p>
  <%= username %>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
  <% } else {%>
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <button type="submit">Login</button>
  </form>

   <% } %>

  <!-- <form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <button type="submit">Login</button>
  </form> -->

</body>
</html>