<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>

  <h1>Tiny App</h1>

  <% if(currentUser) { %>
    <p>Logged in as: </p>
    <%= currentUser.email %>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>

  <% } else {%>
    <p>You are not logged in. To view urls, <a href="/registration">click here</a> to register if you do not have an account, or <a href="/login">click here</a> to login!</p>
   <% } %>

</body>
</html>