<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>

  <p>You are not logged in. If you do not have an account, <a href="/registration"> click here</a> to register; otherwise, <a href="/login">click here</a> to log in!</p>

</body>
</html>