<!DOCTYPE html>
<html>
<head>
  <title>Login to Tiny App</title>
</head>
<body>

  <h1>Login to Tiny App!</h1>
  <p>If you do not have an account, <a href="/registration">click here</a> to register.</p>

  <form method="POST" action="/login">
    Email: <input type="email" name="email" placeholder="Enter Email">
    Password: <input type="password" name="password" placeholder="Enter Password">
    <button>Login</button>
  </form>

</body>
</html>