<!DOCTYPE html>
<html>
<head>
  <title>Register for Tiny App</title>
</head>
<body>

  <h1>Welcome to Tiny App!</h1>
  <p>If you do not have an account, please register; otherwise, <a href="/login">click here</a> to login.</p>

  <form method="POST" action="/registration">
    Email: <input type="text" name="email" placeholder="Enter Email">
    Password: <input type="password" name="password" placeholder="Enter Password">
    <button>Register</button>
  </form>

</body>
</html>