<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>

  <% include partials/_header %>

  <ul>
    <li><%= shortURL %> :
      <form method="POST" action="/urls/<%=shortURL%>">
        <input type="text" size="30" name="newUrl">
        <input type="submit" value="Update">
       </form>
    </li>
  </ul>

</body>
</html>