<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>

  <% include partials/_header %>
  <!-- <% if(currentUser) { %>
  <p>Logged in as: </p>
  <%= currentUser.email %> -->
  <ul>
    <li><%= shortURL %> :
      <form method="POST" action="/urls/<%=shortURL%>">
        <input type="text" size="30" name="newUrl">
        <input type="submit" value="Update">
       </form>
    </li>
  </ul>
  <!-- <% } else {%>

   <% } %> -->

</body>
</html>